{% load i18n %}
<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
        <div class="be-navbar-header">
            <a class="be-toggle-left-sidebar" href="#">
                <span class="icon mdi mdi-menu"></span>
            </a>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="user-name">{{ request.user.username }}</span>
                        <i class="icon mdi mdi-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">{% trans "看到時候要加上麽功能" %}</a>
                        <a class="dropdown-item" href="#">{% trans "看到時候要加上麽功能" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'br:logout' %}">{% trans "登出" %}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
